<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">
	<uses-permission android:name="android.permission.INTERNET"/>
	<application>
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity-alias
        android:name=".MainActivityAliasClassic"
        android:enabled="false"
        tools:replace="android:enabled" />
		<activity-alias
        android:name=".MainActivityAliasOutline"
        android:enabled="false"
        tools:replace="android:enabled" />
		<activity-alias
        android:name=".MainActivityAliasGradient"
        android:enabled="false"
        tools:replace="android:enabled" />
	</application>
</manifest>