name: Deploy Flutter Web to GitHub Pages

on:
  push:
    branches: [ main, feat/gh-pages-deploy ]
  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Enable web
        run: flutter config --enable-web

      - name: Build & deploy to GitHub Pages
        uses: bluefireteam/flutter-gh-pages@v9
        with:
          workingDir: .
          baseHref: /CodeForge/
        env:
          token: ${{ secrets.GITHUB_TOKEN }}
